<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
  

    <div class = "container">
        <center>
            <p><%= pergunta.title %></p>
        </center>
    </div>
</body>